# General
.DS_Store
.AppleDouble
.LSOverride
.idea

### VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variables file
.env

# App temporary folder
tmp/

# Optional npm cache directory
.npm

# Dependency directories
node_modules
node_modules/
jspm_packages/